* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

body, html {
    height: 100%;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(47, 47, 47)
}

h1 {
    font-size: 200px;
    font-weight: 200;
    color: white;
}